{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чат</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="wrapper">

    {% if form.errors %}
        <p>Вы ввели неправильный логин или пароль. Попробуйте ещё раз.<p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Вы не имеете прав к доступу на эту страницу.</p>
        {% else %}
            <p>Введите логин и пароль.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>

            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>

            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
    <div class="link_auth">
        <a href="{% url 'register' %}">Регистрация</a>
    </div>
</div>
</body>
</html>

